body{
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins";
    width: 100%;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins');
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
  }